<h1>Editing prayer giver</h1>

<%= render "form", prayer_giver: @prayer_giver %>

<br>

<div>
  <%= link_to "Show this prayer giver", @prayer_giver %> |
  <%= link_to "Back to prayer givers", prayer_givers_path %>
</div>
