<h1><%= link_to "<", start_page_path, style: "text-decoration: none" %></h1>

<p style="color: green"><%= notice %></p>

<h1><%= t("offer_prayer") %></h1>

<%= render "form", prayer_giver: @prayer_giver %>

<br>
