<div class="start-page-button-container">
  <%= link_to "I need prayer support", new_prayer_receiver_path, class: "start-page-button" %>
  <%= link_to "I offer my prayer", new_prayer_giver_path, class: "start-page-button" %>
</div>
