<h1>Editing prayer receiver</h1>

<%= render "form", prayer_receiver: @prayer_receiver %>

<br>

<div>
  <%= link_to "Show this prayer receiver", @prayer_receiver %> |
  <%= link_to "Back to prayer receivers", prayer_receivers_path %>
</div>
